
.image{
    border-radius: 10px;
}

.text-dim
{
    color:#383d3aaa;
}
.inside-text{
    text-align:center;
}
.box{
margin-bottom: 10px;
      background:linear-gradient(rgb(200, 233, 231),rgb(230, 199, 217));
    max-height: 3500px;
    max-width: 350px;
    border-color: #2c2828;
    border-width: 10px;
    margin-bottom: 30px;
    border-style: double;
    
}
.container1{
    background-color:white;
    text-align:center;
    background:linear-gradient(rgb(233, 252, 250),rgb(230, 199, 217));
}
.con-heading{
    text-align:left;
    
}
.services{
    font-size: 30px;
}
.services2{
    font-size:26px;
}
.box:hover{
    border-width: 3px;
    border-style:dashed;
    background:linear-gradient(rgb(132, 223, 214),rgb(226, 177, 206));
    border-color: black ;
}
.text1{
    text-align: center;margin-left:50px;
}





body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}

.footer {
background-color: #262626;
color: #fff;
padding: 40px 0;
}

.footer-logo {
font-size: 24px;
font-weight: bold;
}

.footer-links {
margin-top: 15px;
}

.footer-links a {
color: #aaa;
text-decoration: none;
margin-right: 20px;
transition: color 0.3s;
}

.footer-links a:hover {
color: #fff;
}

.footer-social {
margin-top: 20px;
}

.footer-social i {
font-size: 24px;
margin-right: 15px;
color: #aaa;
transition: color 0.3s;
}

.footer-social i:hover {
color: #fff;
}
.hyperlink li a{
text-decoration: none;
color: white;
}