.row{
    margin-top: 150px;
}
.btn{
    width:100%;
}
.btn button{
    width: 100%;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    margin-top: 6px;
    cursor: pointer;
}
.btn i img{
    margin-bottom: 3px;
}
.card{
    box-shadow: 0px 2px 5px black;
    transition: transform 0.5s;
    cursor: pointer;
    margin-top: 50px;
}
.card:hover{
    transform: translateY(-15px);
}
.star{
    font-size: 20px;
}
.checked{
    color: rgba(255.196,0);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
}
.top-navbar{
    display:flex;
    justify-content :space-between;

    
}
.top-navbar p{
    margin-top:13px;
    margin-left:15px;
}
.top-navbar .icons{margin-top:13px;
    margin-left:15px;

}
.top-navbar a{
    text-decoration:none;
    color:black;
    margin-left:10px;
}
.top-navbar a img{
    margin-bottom:3px;
}
.top-navbar a:hover{
    color:black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size:13px;
      
    }
    .top-navbar a img{
      
        width:15px;}
    .top-navbar p{
        font-size:13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size:10px;
    }
    .top-navbar a img{
        width:13px;

    }
 .top-navbar p{
        font-size:10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size:8px;
    }
    .top-navbar a img{
        width:10px;
        margin-left:0;

    }
    .top-navbar p{
        font-size:10px;
        margin-top:20px;
    }
}


#navbar{
    background-color:rgb(11, 134, 249);
  position: sticky;
  top:0;
    font-weight: bold;
   
}

#logo{
    margin-left:15px;
    color:white;
    font-size:25px;
    font-weight:bold;
    margin-bottom:6px;
}
#logo span{
    color:#ffc800;
}
#logo #span1{
    font-size:30px;

}
.navbar-nav{
    margin-left:20px;
}
.nav-item{
    margin-left:10px;
}
.nav-item .nav-link{
    color:white;
    margin-left:2px;
    text-shadow:0px 0px 1px black;
    transition:0.5s ease;
}



.nav-item .nav-link:hover{
    color:#ffc800;
}
.dropdown-menu li a{
    color:white;
    transition:0.5s ease;
    background-color: black;

}
.dropdown-menu li a:hover{
    background-color:black;
    color:#ffc800;
}
#search input{
    border-radius:50px;
    border:none;

}
#search button{
    border-radius:50px;
    color:white;
    border:1px solid #ffc800;
    background-color: #ffc800;

}
.laptop{
    text-align: center;
}