*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;

    color: black;
}

.body-light{
    color: black;
    background-color: white;
}
.body-dark{
    color:white;
    background-color: blue;
}


.top-navbar-light{
   
color:black;
background:white;
display:flex;
justify-content :space-between;

}
   
    .top-navbar-dark{
        color:rgb(250, 246, 246);
        background-color: rgb(12, 12, 12);
        display:flex;
        justify-content :space-between;
    }
    

.top-navbar p{
    margin-top:13px;
    margin-left:15px;
}
.top-navbar .icons{margin-top:13px;
    margin-left:15px;

}
.top-navbar a{
    text-decoration:none;
    color:black;
    margin-left:10px;
}
.top-navbar a img{
    margin-bottom:3px;
}
.top-navbar a:hover{
    color:black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size:13px;
      
    }
    .top-navbar a img{
      
        width:15px;}
    .top-navbar p{
        font-size:13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size:10px;
    }
    .top-navbar a img{
        width:13px;

    }
 .top-navbar p{
        font-size:10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size:8px;
    }
    .top-navbar a img{
        width:10px;
        margin-left:0;

    }
    .top-navbar p{
        font-size:10px;
        margin-top:20px;
    }
}
#navbar{
    background-color:rgb(11, 134, 249);
  position: sticky;
  top:0;
    font-weight: bold;
   
}

#logo{
    margin-left:15px;
    color:white;
    font-size:25px;
    font-weight:bold;
    margin-bottom:6px;
}
#logo span{
    color:#ffc800;
}
#logo #span1{
    font-size:30px;

}
.navbar-nav{
    margin-left:20px;
}
.nav-item{
    margin-left:10px;
}
.nav-item .nav-link{
    color:white;
    margin-left:2px;
    text-shadow:0px 0px 1px black;
    transition:0.5s ease;
}



.nav-item .nav-link:hover{
    color:#ffc800;
}
.dropdown-menu li a{
    color:white;
    transition:0.5s ease;
    background-color: black;

}
.dropdown-menu li a:hover{
    background-color:black;
    color:#ffc800;
}
#search input{
    border-radius:50px;
    border:none;

}
#search button{
    border-radius:50px;
    color:white;
    border:1px solid #ffc800;
    background-color: #ffc800;

}
.home{
    width:100%;
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index:0;

}
#icon{
    cursor:pointer;
    height:40px; 
    width:40px;
}
.home .img{
    flex:1 1 300px;
}
.home .img img{
    margin-top:30px;
    width:100%;
}
.home .content{
    flex:1 1 400px;
    margin-top:20px;
}.content h1{
color:black;
font-weight:bold;
margin-left:23px;
font-size:60px;
text-shadow:-1px 1px 1px black;
}


.content h1 span{
    color:black;
}
#span2{
    color:#ffc800;
}
.content p{
    margin-left:23px;
}.btn{
    margin-left:23px;
}
.btn button{
    width:150px;
    height:32px;
    letter-spacing: 3px;
    background-color: #ffc800;
    color:white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor:pointer;
}
.btn button:hover{
    background-color: black;
    color:white;
    border: none;
}
@media screen and (max-width:1200px){
.home{
    height:50vh;

}

}
@media screen and (max-width:799px){
    .home{
        height:140vh;
    
    }
    
    }




    @media screen and (max-width:550px){
        .home{
            height:110vh;
        
        }
        
        }  
        @media screen and (max-width:420px){
            .content h1{
                font-size: 45px;
               
            
            }
            
            }
            @media screen and (max-width:320px){
                .content h1{
                    font-size: 34px;
                
                
                }
                
                } 
   #product-cards{
    margin-top:100px;
   }             
 #product-cards h1{
    color:black;
    text-shadow:1px 1px 1px black;
    border-bottom:2px solid #ffc800;
 }  
 #product-cards .card h3{
    font-size:25px;
    color:black;

 }  
 #product-cards .card h1{
    font-size:25px;
    color:black;
 }
 #product-cards .card p{
    font-size:12px;
    margin-top:5px;
    color:black;
 }


 
 .star i{
    margin-left:5px;
    font-size:13px;

 }
 .checked{
    color:#ffc800;
 }
 #product-card .card h2{
    font-size:20px;
    color:black;
    margin-top: 20px;
 }
 #product-cards .card h2 span{
    float:right;
    color:black;
    cursor:pointer;
 }
 @media screen and (max-width:1000px){
    #product-cards .card h3{
        font-size:18px;
    }
 }

 .container1{
    background-color:rgb(14, 14, 14);


    margin-top: 90px;
    padding-top: 70px;
    padding-left: 90px;
    padding-bottom: 70px;
    padding-right: 90px;
  
 }
 .container1 .left{
   color: white;
    height: 30px;
    width: 900px;
 }
 .container1 .left h1{
    font-weight: 800px;
    color: white;
 }

 @media screen and (max-width:1200px){
    .container1 .left{
        height:23vh;
        width:500px;
        margin: auto;
        padding: auto;
        background-color: black;
    
    }
    
    }

        
        
    @media screen and (max-width:799px){
        .container1 .left{
            height:16vh;
            width:450px;
            margin: auto;
            padding: auto;
           background-color: black;
        
        }
        
        }
    
    
    
    
        @media screen and (max-width:550px){
            .container1 .left{
                height:18vh;
                width:350px;
                margin: auto;
                padding: auto;
               background-color: black;
            
            }
            
            }  


            @media screen and (max-width:420px){
                .container1 .left{
                    height:16vh;
                    width:300px;
                    margin: auto;
                    padding: auto;
                   background-color: black;
                
                }
            }
           
                @media screen and (max-width:320px){
                    .container1 .left{
                       height:10vh;
                        width:240px;
                        margin: auto;
                        padding: auto;
                       background-color: black;
                    font-size: 12px;
                    
                    }
                    
                    } 















.container2{
    margin:auto;
    height:auto;
    width:auto;
    color:#ffc800;
    background-color:black;
    margin-top: -50px;
    
    
  
   
}
.container1 .container2 .card{
  display: inline-block;
    background-color:black;
    height: 130px;
    width:130px;

margin:0;
}
.container1 .container2 .card h1{
    font-size: 19px;
    
    color: #ffc800;
}
.container1 .container2 .card h2{
    font-size:17px;
    color: #ffc800;
}




@media screen and (max-width:1200px){
    .container2{
        height:20vh;
        width:600px;
    margin: auto;
    margin-top:-20px;

     
        background-color:black;
    
    }
    .container1 .container2 .card {
        
        height:20vh;
        width:140px;
        margin: auto;
        padding: auto;
        background-color: black;
    }
    .container1 .container2 .card h1{
        font-size: 20px;
        
        color: #ffc800;
    }
    .container1 .container2 .card h2{
        font-size:18px;
        color: #ffc800;
    }
    
    }

        
        
    @media screen and (max-width:799px){
        
        .container2{
            height:18vh;
            width:300px;
        margin:auto;
        padding:auto;
         margin-bottom: -20px;
            background-color:black; }
        .container1 .container2 .card {
            
            height:15vh;
            width:100px;
            margin-left: auto;
            padding: 1px;
            background-color: black;
        }
        .container1 .container2 .card h1{
            font-size: 14px;
            
            color: #ffc800;
        }
        .container1 .container2 .card h2{
            font-size:13px;
            color: #ffc800;
        }
        
        }
    
    
    
    









#offer{
    margin-top:75px;
    margin-right:auto;
   
}
#offer i{
    font-size:32px;
    color:black;

}
#newslatter{
margin-top:100px;

}
#newslatter h3{
    font-size:25px;
    letter-spacing:3px;
}
.input{
    margin-top:30px;
}
.input input{
    width:350px;
    height:36px;
    letter-spacing:2px;
    border-radius:3px;
    border:1px solid black;
    padding-left:5px;
}
#subscribe{
    width:200px;
    height:36px;
    margin-left:10px;
    border-radius:3px;
    border:none;
    background-color: #ffc800;
    color:white;
    letter-spacing:3px;
    font-weight:bold;
    text-shadow:0px 0px 1px black;
}

@media screen and (max-width:465px){
    .input .input{
        width:280px;
    }
    #subscribe{
        margin-top:10px;
    }
}

@media screen and (max-width:200px){
    .input .input{
        width:150px;
    }
    #subscribe{
      width:150px;
    }
} 
.copyright{
    text-align:center;
    float:left;
}
.credits{
    float:right;
    text-align:center;
    font-size:13px;
}
.credits a{
    color:#ffc800;
}
html{
    scroll-behavior: smooth;
}
.arrow{
    position:fixed;
    
    bottom:40px;
    right:50px;
    text-decoration:none;
    text-align:center;
    line-height:50px;
}


body {
    
    font-family: Arial, sans-serif;
  }

  .footer {
    background-color: #262626;
    color: #fff;
    padding: 40px 0;
  }

  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }

  .footer-links {
    margin-top: 15px;
  }

  .footer-links a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
  }

  .footer-links a:hover {
    color: #fff;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-social i {
    font-size: 24px;
    margin-right: 15px;
    color: #aaa;
    transition: color 0.3s;
  }

  .footer-social i:hover {
    color: #fff;
  }
  .hyperlink li a{
    text-decoration: none;
    color:white;
  }