.row{
    margin-top: 150px;
}
.btn{
    width:100%;
}
.btn button{
    width: 100%;
    border-radius: 5px;
    border: none;
    letter-spacing: 2px;
    margin-top: 6px;
    cursor: pointer;
    background-color: #ffc800;
    padding: 2px;
}
.btn i img{
    margin-bottom: 3px;
}
.card{
    box-shadow: 0px 2px 5px black;
    transition: transform 0.5s;
    cursor: pointer;
    margin-top: 50px;
    padding-top: 15px;
}
.card:hover{
    transform: translateY(-15px);
}
.star{
    font-size: 20px;
}
.checked{
    color: rgba(255.196,0);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
}
.top-navbar{
    display:flex;
    justify-content :space-between;

    
}
.top-navbar p{
    margin-top:13px;
    margin-left:15px;
}
.top-navbar .icons{margin-top:13px;
    margin-left:15px;

}
.top-navbar a{
    text-decoration:none;
    color:black;
    margin-left:10px;
}
.top-navbar a img{
    margin-bottom:3px;
}
.top-navbar a:hover{
    color:black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size:13px;
      
    }
    .top-navbar a img{
      
        width:15px;}
    .top-navbar p{
        font-size:13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size:10px;
    }
    .top-navbar a img{
        width:13px;

    }
 .top-navbar p{
        font-size:10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size:8px;
    }
    .top-navbar a img{
        width:10px;
        margin-left:0;

    }
    .top-navbar p{
        font-size:10px;
        margin-top:20px;
    }
}