
  
  .rating-container {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .rating-symbol {
    font-size: 48px;
    color: #ffbb33;
    margin-bottom: 10px;
  }
  .star {
    font-size: 20px;
    color: #ffbb33;
    margin-bottom: 10px;
  }
  
  .overall-rating {
    font-size: 24px;
  }
  
  .star-ratings {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .star-column {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-left: 1px solid #ccc;
  }
  
  .star-count {
    font-size: 25px;
    color: gold;
  }

  .reviews_heading{
    text-align: center;
    justify-content: center;
    font-weight: bolder;
  }
  

.reviews-container {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.reviewer-name {
  font-weight: bold;
}

.review-rating {
  font-size: 18px;
  color: #ffd700;
}

.review-text {
  font-size: 14px;
  color: #333;
}
 h2{
  font-weight: bold;
  font-size: larger;
 }

@media (max-width: 768px) {
  .rating-symbol {
    font-size: 36px;
  }

  .star-ratings {
    flex-direction: column;
  }

  .star-column {
    border-left: none;
    padding: 10px 0;
  }

  .review {
    padding: 10px 0;
  }
}


@media (max-width: 480px) {
  .rating-symbol {
    font-size: 24px;
  }

  .overall-rating {
    font-size: 18px;
  }

  .star-count {
    font-size: 24px;
  }

  .review {
    padding: 10px 0;
  }
}



  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
}
.top-navbar {
    display:flex;
    justify-content :space-between;

    
}
.top-navbar p{
    margin-top:13px;
    margin-left:15px;
}
.top-navbar .icons{margin-top:13px;
    margin-left:15px;

}
.top-navbar a{
    text-decoration:none;
    color:black;
    margin-left:10px;
}
.top-navbar a img{
    margin-bottom:3px;
}
.top-navbar a:hover{
    color:black;
}
@media screen and (max-width:400px){
    .top-navbar a{
        font-size:13px;
      
    }
    .top-navbar a img{
      
        width:15px;}
    .top-navbar p{
        font-size:13px;
    }
}
@media screen and (max-width:320px){
    .top-navbar a{
        font-size:10px;
    }
    .top-navbar a img{
        width:13px;

    }
 .top-navbar p{
        font-size:10px;
    }
}
@media screen and (max-width:318px){
    .top-navbar a{
        font-size:8px;
    }
    .top-navbar a img{
        width:10px;
        margin-left:0;

    }
    .top-navbar p{
        font-size:10px;
        margin-top:20px;
    }
}


#navbar{
    background-color:rgb(11, 134, 249);
  position: sticky;
  top:0;
    font-weight: bold;
   
}

#logo{
    margin-left:15px;
    color:white;
    font-size:25px;
    font-weight:bold;
    margin-bottom:6px;
}
#logo span{
    color:#ffc800;
}
#logo #span1{
    font-size:30px;

}
.navbar-nav{
    margin-left:20px;
}
.nav-item{
    margin-left:10px;
}
.nav-item .nav-link{
    color:white;
    margin-left:2px;
    text-shadow:0px 0px 1px black;
    transition:0.5s ease;
}



.nav-item .nav-link:hover{
    color:#ffc800;
}
.dropdown-menu li a{
    color:white;
    transition:0.5s ease;
    background-color: black;

}
.dropdown-menu li a:hover{
    background-color:black;
    color:#ffc800;
}
#search input{
    border-radius:50px;
    border:none;

}
#search button{
    border-radius:50px;
    color:white;
    border:1px solid #ffc800;
    background-color: #ffc800;

}
  


body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}


body.dark-mode {
  background-color: black;
  color: rgb(0, 0, 0);
}


    .dark-mode-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 1000;
    }

    .input_box{
      text-align: center;
      font-size: larger;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;
    }

    #displayText{
      font-size: 14px;
      color: #333;
    }

    #displayName{
      font-weight: bold;
    
    
    }

    ._box{
      border-radius: 5px;
      border-color: #000000;
    }

    