.brand-img {

    height: 100px;
    width: 100px;

  }

  
.hover:hover
 {
   width: 415px;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-primary:hover
{
}
 .scrolling-wrapper
  {
	overflow-x: auto;
}







